<div class="col-md-12">

  <div class="row">
    <div class="col-md-10">
      <h2> Movies Details</h2>
    </div>
    <div class="col-md-2">
      <button class="btn-primary btn" routerLink="/add">Add Movie</button>
    </div>
  </div>

  <br/>

  <div class="row">
      <div class="form-group col-md-12">
        <input [(ngModel)]="searchText" placeholder="search movie goes here">
      </div>
  </div>

  <div class="row">
    <div class="card col-lg-4 col-md-6 col-xs-12 col-sm-12" style="width: 15rem; margin-bottom: 5px;"
         *ngFor="let movie of movies  | filter : searchText; let i=index">
      <img class="card-img-top"
           src="https://s3-eu-west-1.amazonaws.com/lecturequizuploads/f0cb8760-5992-4566-bec6-34f2698b3fa4"
           alt="" style="width: auto; height: 12rem; margin-left: 1rem">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">{{movie.title}}</h5>
        <p class="card-text">
          <b>Director :</b> {{movie.director}} <br/>
          <b>Realise Date :</b>{{movie.releaseDate}} <br/>
          <b>Type : </b>{{movie.type}}
        </p>
        <button class="btn btn-danger" (click)="deleteMovie(i)"> Delete</button>
        <button style="margin-left: 45%" class="btn btn-info" routerLink="/update/{{i}}"> Update </button>
      </div>
    </div>
  </div>
</div>
