<div class="col-md-6">
  <h2> Movies Details</h2>

  <table class="table table-striped ">
    <thead>
        <tr>
          <th class="hidden">No</th>
          <th>Title</th>
          <th>Director</th>
          <th>Realise Date</th>
          <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies; let i=index">
          <td class="hidden">{{i}}</td>
          <td>{{movie.title}}</td>
          <td>{{movie.director}}</td>
          <td>{{movie.releaseDate}}</td>
          <td>{{movie.type}}</td>
          <td><button class="btn btn-danger" (click)="deleteMovie(i)"> Delete</button></td>
          <td><a routerLink="/update/{{i}}"> Update </a></td>
        </tr>
    </tbody>
  </table>
</div>
