<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 mt-4">
  <a class="navbar-brand"  routerLink="/home">Movie Library Assignment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-row">
      <li class="nav-item ">
        <a class="nav-link " routerLink="/home" role="button" >
          Home
        </a>
      </li>  &nbsp; &nbsp;
      <li class="nav-item ">
        <a class="nav-link " role="button"  routerLink="/movie">
          List Of Movies
        </a>
      </li>
    </ul>
  </div>
</nav>
